Gemfile.lock
config/database.yml
config/environment.rb
gui_upgrade.sh
last_bundle_revision
gui_upgrade_light.sh
log
public/ad_sounds
public/assets
public/ivr_voices
public/rezultatas.html
public/sound/
assets_log
vendor/plugins/active_processor/app/helpers/
vendor/plugins/active_processor/app/models/
vendor/plugins/active_processor/lib/active_processor/processors/
app/views/api/
selenium/templates/
*.swp
