<table class="simple">
  <tr align="left">
    <td><%= _('Name') %>:</td>
    <td><%= text_field :number_pool, :name, class: 'input', size: 30 %></td>
  </tr>
  <tr align="left">
    <td><%= _('Comment') %>:</td>
    <td><%= text_area :number_pool, :comment, :rows => '4', :class => "input", :maxlength => 250 %></td>
  </tr>
</table>
<br />
<br />
